[submodule "src/image_segmentation/dichotomous_image_segmentation"]
	path = src/image_segmentation/dichotomous_image_segmentation
	url = https://github.com/dimitarpg13/dichotomous_image_segmentation.git
